{% set type = entry.eventType.all %}
{% set theme = entry.eventTheme.one %}
{% set startTime = entry.startTime %}
{% set eventPartner = entry.eventPartners.all() %}
{% set thisEventDate = entry.dateField|date('Y-m-d') %}

<div class="container padding-top-lg">
	<div class="grid gap-sm">
		<div class="col-11@sm col-10@md offset-1@md col-9@lg offset-2@lg col-8@xl offset-3@xl order-2@sm">
			<div class="margin-bottom-xxxs text-md">
				{% if startTime %}
					{% if startTime|date('H:i') < '18:00' %}
						<svg width="16" height="16" xmlns="http://www.w3.org/2000/svg"><path d="M9 14v2H7v-2h2zm3.949-2.395l1.415 1.413-1.414 1.415-1.415-1.414 1.414-1.414zm-9.968-.069l1.414 1.415-1.415 1.412-1.414-1.413 1.415-1.414zM8 4c2.2 0 4 1.8 4 4s-1.8 4-4 4-4-1.8-4-4 1.8-4 4-4zm8 3v2h-2V7h2zM2 7v2H0V7h2zm1.05-5.293L4.465 3.12 3.05 4.535 1.636 3.121 3.05 1.707zm9.83-.07l1.414 1.415-1.415 1.413-1.414-1.414 1.415-1.414zM9 0v2H7V0h2z" fill="#FFF" fill-rule="nonzero"/></svg>
					{% else %}
						<svg width="16" height="16" xmlns="http://www.w3.org/2000/svg"><path d="M6 0C2.5.9 0 4.1 0 7.9 0 12.4 3.6 16 8.1 16c3.8 0 6.9-2.5 7.9-6C9.9 11.7 4.3 6.1 6 0z" fill="#FFF" fill-rule="nonzero"/></svg>
					{% endif %}
					&nbsp;
				{% endif %}
				{% if entry.eventConfirmed %}{{ entry.dateField|date('j.m.Y') }}{% if entry.endDate %}–{{ entry.endDate|date('j.m.Y') }}{% endif %}{% else %}Event/Date To Be Confirmed{% endif %}
				{% if startTime %} . {{ startTime|date('H:i') }}{% endif %}{% if entry.finishTime %}—{{ entry.finishTime|date('H:i') }}{% endif %}
				{# {% if entry.communityEvent %} . Community Event{% else %} . Proto<span class="text-bold">space</span> Event{% endif %} #}
			</div>
			<h1 class="text-xxl">{{ entry.title }}</h1>
		</div>
		<div class="event__title text-md text-xxl@sm text-xxxxl@md col-1@sm order-1@sm reveal-fx" data-reveal-fx-delta="50"><span class="text-bold hide@sm">Theme: </span><span class="color-{{ theme.themeColour }}">{{ theme.title }}</span></div>
		
		<div class="col-11@sm offset-1@sm col-10@md offset-2@md col-8@lg col-7@xl offset-3@lg offset-4@xl order-3@sm max-width-lg">
			<div class="text-component">
				{# {% set events = craft.entries({
				  section: 'events',
				  dateField: '>=' ~ now|date('Y-m-d'),
				  orderBy: 'dateField asc',
				  with: [
				  'entry.title',
				  'entry.dateField'
				  ]
				}).all %} #}
				{# {% if thisEventDate >= now|date('Y-m-d') %}Future{% else %}Past{% endif %} #}
				{# {% if entry.dateField '>=' ~ now|date('Y-m-d') %}Past{% else %}Future{% endif %} #}
				{% if thisEventDate >= now|date('Y-m-d') %}
					{% if entry.ticketUrl %}<a href="{{ entry.ticketUrl }}" target="_blank" class="btn btn--primary btn--md width-100% height-100% max-width-xs margin-bottom-sm">Register your ticket &nearr;</a>{% else %}<a href="#subscribe" class="btn btn--md width-100% height-100% max-width-xs margin-bottom-sm">Subscribe for updates &darr;</a>{% endif %}
				{% endif %}
				
				<p class="text-xl">{% if entry.communityEvent %}A Community Event{% if entry.organiser %} from {{ entry.organiser }}{% endif %}{% else %}A Proto<span class="text-bold">space</span> Event{% endif %}</p>
				
				<p class="text-bold">
					{% if entry.location %}Location: {{ entry.location }}<br>{% endif %}
					Format: 
					<span class="color-{{ theme.themeColour }}">
					{% for rel in type %}
						{{ rel.title }}{% if loop.last %}{% else %} . {% endif %}
					{% endfor %}
					</span>
				</p>
				
				{{ entry.description }}
			</div>
				
			<ul class="accordion js-accordion margin-top-md" data-animation="on" data-multi-items="on">
				{% for block in entry.accordion.all() %}
				{% if block.type == "faqs" %}
				  <li class="accordion__item {% if loop.first %}accordion__item--is-open {% endif %}js-accordion__item">
					<button class="reset accordion__header padding-y-sm js-tab-focus" type="button">
					  <span class="text-bold text-xl">{{ block.heading }}</span>
				
					  <svg class="icon accordion__icon-arrow no-js:is-hidden" viewBox="0 0 16 16" aria-hidden="true">
						<g class="icon__group" fill="none" stroke="currentColor" stroke-linecap="square" stroke-miterlimit="10">
						  <path d="M2 2l12 12" />
						  <path d="M14 2L2 14" />
						</g>
					  </svg>
					</button>
				
					<div class="accordion__panel js-accordion__panel">
					  <div class="text-component padding-top-xxxs padding-bottom-md">
						{{ block.body }}
					  </div>
					</div>
				  </li>
				{% endif %}
				{% endfor %}
			</ul>
			<div class="text-component margin-top-lg">
				{% if entry.website %}<p><a href="{{ entry.website }}" target="_blank" class="text-bold">Visit the event website &nearr;</a></p>{% endif %}
			</div>
		</div>
	</div>
	
	{% set blocks = entry.speakers.all() %}
	{% if blocks|length %}
	<section class="grid gap-sm text-component" id="agenda">
		<div class="col-11@sm offset-1@sm col-10@md offset-2@md col-9@lg offset-3@lg col-8@xl offset-4@xl">
			<h2 class="text-xxl">Event Agenda</h2>
		</div>
	</section>
	
		{% for block in entry.speakers.all() %}
			{% if block.type == "speaker" %}
			<div class="grid gap-sm margin-y-lg text-component">
				<div class="color-{{ theme.themeColour }} offset-1@sm col-2@lg offset-2@md offset-1@lg offset-2@xl text-right@lg">
					{% if block.time %}<time class="text-lg@md text-bold">{{ block.time|date('H:i') }}</time>{% endif %}
				</div>
				{% for image in block.profilePhoto.all() %}
					{% if block.profilePhoto %}
					<div class="col-6 col-4@xs col-3@sm offset-1@sm offset-2@md col-2@lg offset-1@lg order-3@lg"><img class="profile__image radius-50%" src="{{ image.getUrl('profile') }}" alt="{{ block.title }}"></div>
					{% endif %}
				{% endfor %}
				<div class="agenda__details col-8@sm col-7@md offset-0@lg col-6@lg order-2@lg col-5@xl">
					<div class="text-xl text-bold margin-bottom-xxxs">{{ block.fullName }}</div>
					{% if block.talkTitle %}<div class="text-lg text-bold margin-bottom-xs">{{ block.talkTitle }}</div>{% endif %}
					
					{{ block.talkDescription }}
					
					{% if block.talkDescription is empty and block.bio %}
						<div class="text-component margin-top-xs">
							{{ block.bio }}
						</div>
						{% else %}
						
						{% if block.bio %}
							<details class="details js-details">
							  <summary class="details__summary js-details__summary" role="button">
								<span class="flex items-center">
								  <svg class="icon icon--xxs margin-right-xxxs" aria-hidden="true" viewBox="0 0 12 12"><path d="M2.783.088A.5.5,0,0,0,2,.5v11a.5.5,0,0,0,.268.442A.49.49,0,0,0,2.5,12a.5.5,0,0,0,.283-.088l8-5.5a.5.5,0,0,0,0-.824Z"></path></svg>
								  <span class="text-bold link">Find out about {{ block.fullName }}</span>
								</span>
							  </summary>
							
							  <div class="details__content text-component margin-top-xs js-details__content">
								{{ block.bio }}
								
								{# {% if block.website %}
								<a href="{{ block.website }}" class="text-bold" target="_blank">{{ block.website }} &nearr;</a>
								{% endif %} #}
							  </div>
							</details>
						{% endif %}
					
					{% endif %}
					
					{% if block.website %}
						<p class="margin-top-xs"><a href="{{ block.website }}" class="text-bold" target="_blank">{{ block.website }} &nearr;</a></p>
					{% endif %}
					
					
				</div>
			</div>	
			{% endif %}
			
			{% if block.type == "session" %}
			<div class="grid gap-sm margin-y-lg text-component">
				<div class="color-{{ theme.themeColour }} offset-1@sm col-2@lg offset-2@md offset-1@lg offset-2@xl text-right@lg">
					{% if block.time %}<time class="text-lg@md text-bold">{{ block.time|date('H:i') }}</time>{% endif %}
				</div>
				
				<div class="agenda__details col-8@sm offset-1@sm col-7@md offset-2@md col-6@lg offset-0@lg order-2@lg col-5@xl">
					<div class="text-xl text-bold margin-bottom-xs">{{ block.heading }}</div>
					{# {% if block.talkTitle %}<div class="text-xl text-bold margin-bottom-xs">{{ block.talkTitle }}</div>{% endif %} #}
					
					{{ block.description }}
					
				</div>
			</div>	
			{% endif %}
		{% endfor %}
	</section>
	{% endif %}
	
	
	{% if eventPartner | length %}
	<div class="grid">
		<div class="col-11@sm offset-1@sm col-10@md offset-2@md offset-3@lg offset-4@xl border-top border-contrast-low padding-y-lg margin-top-lg">
			<h1 class="text-xxl">Event Partners</h1>
			
			<div class="partner__grid">
			{% for entry in eventPartner %}
				{% for image in entry.partnerLogo.all %}
					<div><a href="{{ entry.website }}" target="_blank"><img src="{{ image.getUrl() }}" alt="{{ entry.title }}" class="partner__logo"/></a></li></div>
				{% endfor %}
			{% endfor %}
			</div>
		</div>
	</div>
	{% endif %}
	
	{% if entry.shownotes %}
	<div class="grid gap-sm">
		<div class="col-11@sm offset-1@sm col-10@md offset-2@md offset-3@lg offset-4@xl border-top border-bottom border-contrast-low padding-y-lg margin-top-lg text-component">
			<h1 class="text-xxl ">Show Notes and Resources</h1>
			
			{{ entry.shownotes }}
		</div>
	</div>
	{% endif %}
</div>