{% extends "/main" %}

{% if entry.seoTitle %}
	{% set title = entry.seoTitle %}
{% else %}
	{% set title = entry.title %}
{% endif %}
{% if entry.seoDescription %}
	{% set seoDescription = entry.seoDescription %}
{% endif %}
{% if entry.seoKeywords %}
	{% set seoKeywords = entry.seoKeywords %}
{% endif %}

{% block main %}

{# {% set thisEventDate = entry.dateField | date('M j Y') %} #}
{% set type = entry.eventType.all %}
{% set theme = entry.eventTheme.one %}
{% set startTime = entry.startTime %}

<div class="container padding-top-lg">
	<div class="grid gap-sm">
		<div class="col-11@sm col-10@md offset-1@md col-9@lg offset-2@lg col-8@xl offset-3@xl order-2@sm">
			<div class="margin-bottom-xxxs">
				{% if startTime %}
					{% if startTime|date('H:i') < '18:00' %}
						<svg width="16" height="16" xmlns="http://www.w3.org/2000/svg"><path d="M9 14v2H7v-2h2zm3.949-2.395l1.415 1.413-1.414 1.415-1.415-1.414 1.414-1.414zm-9.968-.069l1.414 1.415-1.415 1.412-1.414-1.413 1.415-1.414zM8 4c2.2 0 4 1.8 4 4s-1.8 4-4 4-4-1.8-4-4 1.8-4 4-4zm8 3v2h-2V7h2zM2 7v2H0V7h2zm1.05-5.293L4.465 3.12 3.05 4.535 1.636 3.121 3.05 1.707zm9.83-.07l1.414 1.415-1.415 1.413-1.414-1.414 1.415-1.414zM9 0v2H7V0h2z" fill="#FFF" fill-rule="nonzero"/></svg>
					{% else %}
						<svg width="16" height="16" xmlns="http://www.w3.org/2000/svg"><path d="M6 0C2.5.9 0 4.1 0 7.9 0 12.4 3.6 16 8.1 16c3.8 0 6.9-2.5 7.9-6C9.9 11.7 4.3 6.1 6 0z" fill="#FFF" fill-rule="nonzero"/></svg>
					{% endif %}
					&nbsp;
				{% endif %}
				{% if entry.eventConfirmed %}{{ entry.dateField|date('j.m.Y') }}{% else %}TBC{% endif %}
				{% if startTime %} . {{ startTime|date('H:i') }}{% endif %}{% if entry.finishTime %}—{{ entry.finishTime|date('H:i') }}{% endif %}
				{% if entry.communityEvent %} . Community Event{% else %} . Proto<span class="font-bold">space</span> Event{% endif %}
			</div>
			<h1 class="text-xxl">{{ entry.title }}</h1>
		</div>
		<div class="event__title text-md text-xxl@sm text-xxxxl@md color-{{ theme.themeColour }} col-1@sm order-1@sm">
			{{ theme.title }}
		</div>
		
		{% if entry.description %}
		<div class="col-11@sm offset-1@sm col-10@md offset-2@md col-8@lg offset-3@lg offset-4@xl order-3@sm">
			<div class="text-component">
				<a href="{{ entry.ticketUrl }}" class="btn btn--primary btn--md width-100% height-100% max-width-xs">Register your ticket &nearr;</a>
			</div>
			<div class="text-component padding-y-md">
				{{ entry.description }}
				
				<p><a href="{{ entry.website }}" target="_blank" class="text-bold">Visit the event website &nearr;</a></p>
			</div>
		</div>
		{% endif %}
	</div>
	
	{% set blocks = entry.speakers.all() %}
	{% if blocks|length %}
	<section class="grid gap-sm text-component" id="agenda">
		<div class="col-11@sm offset-1@sm col-10@md offset-2@md col-9@lg offset-3@lg col-8@xl offset-4@xl">
			<h2 class="">Event Agenda</h2>
		</div>
	</section>
	
		{% for block in entry.speakers.all() %}
			{% if block.type == "speaker" %}
			<div class="grid gap-sm margin-top-md">
				<div class="order-2@sm col-11@sm col-10@md  col-9@lg offset-3@lg col-8@xl offset-4@xl">
					<h3>{{ block.fullName }}</h3>
				</div>
				<div class="order-1@sm col-1@sm col-2@md text-component text-right@sm">
					<time class="text-lg@md text-bold">{{ block.time|date('H:i') }}</time>
				</div>
			</div>	
			{% endif %}
				
			{# {% if block.type == "session" %}
				<div class="col-11@sm offset-1@sm col-10@md offset-2@md col-9@lg offset-3@lg col-8@xl offset-4@xl">
					<h3>{{ block.heading }}</h3>
				</div>
			{% endif %} #}
				{# {% if block.type == "heading" %}
					<h3>{{ block.heading }}</h3>
				{% elseif block.type == "text" %}
					{{ block.text|markdown }}
				{% elseif block.type == "image" %}
					{% set image = block.image.one() %}
					{% if image %}
						<img src="{{ image.getUrl('thumb') }}" 
							width="{{ image.getWidth('thumb') }}" 
							height="{{ image.getHeight('thumb') }}" 
							alt="{{ image.title }}"
						>
					{% endif %}
				{% elseif block.type == "quote" %}
					<blockquote>
						<p>{{ block.quote }}</p>
						<cite>– {{ block.cite }}</cite>
					</blockquote>
				{% endif %} #}
			{% endfor %}
	</section>
	{% endif %}
</div>
	
{% endblock %}