{% set eventPartner = block.partner.all() %}
{% set eventPartnerProtospace = block.partner.partnerType('protospace-partner').all() %}
{% set eventPartnerCommunity = block.partner.partnerType('community-partner').all() %}
{% set eventPartnerTheme = block.partner.partnerType('theme-partner').all() %}
{% set eventPartnerEvent = block.partner.partnerType('event-partner').all() %}



{% if eventPartner | length %}
<div class="container max-width-md padding-bottom-md{% if block.extraBottomPadding %} padding-bottom-xl{% endif %}">
	<div class="grid gap-md">
		<div class="">
			<div class="text-xxxl text-bold">{{ block.heading }}</div>
			
			{{ block.introContent }}
		</div>
		
		<div class="text-component line-height-lg v-space-lg">
			{{ block.body }}
		</div>
		
		<ul>
		{% for entry in eventPartner %}
			{% for image in entry.partnerLogo.all %}				
				<li><a href="{{ entry.website }}" target="_blank"><img src="{{ image.getUrl() }}" alt="{{ entry.title }}" class="width-xxxxl"/></a></li>
			{% endfor %}
		{% endfor %}
		</ul>
	</div>
</div>
{% endif %}